<h1>Add a vehicle to <%= @dealership.name() %> </h1>

  <form action = "/vehicles" method = "post">
  <input id = "dealership_id" name = "dealership_id" type="hidden" value="<%= @dealership.id() %>">
  
      <div class="form-group">
        <label for = "make"> Enter the make of the vehicle: </label>
        <input id = "make" name = "make" type="text">
        </div>
      <div class="form-group">
        <label for = "model"> Enter the model of the vehicle: </label>
        <input id = "model" name = "model" type="text">
      </div>
        <div class="form-group">
        <label for = "year"> Enter the year of the vehicle: </label>
        <input id = "year" name = "year" type="text">
      </div>

    <button type = "submit"> Add Vehicle</button>
  </form>
